.score-display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player-img {
  height: 75px;
}

.score {
  font-size: 2rem;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 75vh;
}
